.link {
    display: inline-block;
    background: #00ff08;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.link:hover {
    background: #b9c8ba;
}
.linkedin {
    display: inline-block;
    background: #0E76A8;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.linkedin:hover {
    background: #e3ece3;
}
.github {
    display: inline-block;
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.github:hover {
    background: #7c7017;
}
.email {
    display: inline-block;
    background: #fe0000;
    color: #020202;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.email:hover {
    background: #dbc6c6;
}
.back-button {
    display: inline-block;
    background: #f6de01;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.back-button:hover {
    background: #c9d1e0;
}


