body {
    font-family: 'Times New Roman', Times, serif;
    background: url('https://www.publicdomainpictures.net/pictures/20000/nahled/parchment-background-87128591230qkp.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #3e2723;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.19);
    border: 2px solid #3e2723;
    border-radius: 10px;
}
h1, h2, h3, p {
    margin: 10px 0;
}
h1 {
    font-size: 2.5em;
    color: #654321;
}
h2 {
    font-size: 2em;
    color: #654321;
}
h3 {
    font-size: 1.5em;
    color: #654321;
}
p {
    font-size: 1.2em;
    color: #3e2723;
}
.centered {
    text-align: center;
}
.parchment {
    padding: 20px;
    background: url('https://www.publicdomainpictures.net/pictures/20000/nahled/parchment-paper.jpg');
    background-size: cover;
    border: 2px solid #57391a;
    border-radius: 10px;
    color: #3e2723;
}
.back-button {
    display: inline-block;
    background: #57391a;
    color: #d2d0cc;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.back-button:hover {
    background: #77aaff;
}